@import './css/bootstrap.css';

.panel-title > a {
  cursor: pointer;
}

.glyphicon.spin {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loader-container {
  text-align: center;
}
